<div class="row">
  <div class="col-md-12">
    <div class='jumbotron'>
      <h1><small>Today's Support Hero:</small> {{link-to supportHero.user.name 'user' supportHero.user}}</h1>
    </div>
  </div>
</div>

{{partial 'schedules/partials/nav'}}

<div class="row">
  <div class="col-md-6">
    {{#if session.currentUser.isManager}}
      {{partial 'undoables/partials/pending'}}
      {{partial 'undoables/partials/approved'}}
    {{else}}
      {{partial 'schedules/partials/user-schedules'}}
    {{/if}}
  </div>
  <div class="col-md-6">
    {{partial 'schedules/partials/all-schedules'}}
  </div>
</div>

